.lights-list {
  padding: 0;
  li {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

    margin: 10px 5px;
    label {
      padding-left: 10px;
    }
  }
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}
